[user]
  name = Alejandro Sáez
  email = asm@redhat.com

[includeIf "gitdir:~/Code/src/github.com/alexsaezm/"]
  path = ~/.gitconfig_personal

[includeIf "gitdir:~/Code/src/github.com/alexsaezm/md2man-rpm"]
  path = ~/.gitconfig_upstream

[includeIf "gitdir:~/Code/src/github.com/go-delve/"]
  path = ~/.gitconfig_upstream

[core]
	excludesFile = ~/.gitignore
[pull]
	rebase = false
[init]
	defaultBranch = main
[blame]
	coloring = highlightRecent
[alias]
    # Inspired by https://blog.cryptomilk.org/2023/02/10/sliced-bread-git-worktree-and-bare-repo
    worktree-add = "!f() { git branch -f $1 $2; git worktree add $1 $1; }; f"
    worktree-add-main = "!f() { git branch -f $1 origin/$(git remote show origin | awk '/HEAD branch/ {print $NF}'); git worktree add $1 $1; }; f"
    worktree-remove = "!f() { git worktree remove -f $1; git branch -D $1; }; f"
