[user]
  name = Alejandro Sáez
  email = asm@redhat.com

[includeIf "gitdir:~/Developer/src/github.com/alexsaezm/"]
  path = ~/.gitconfig_personal

[includeIf "gitdir:~/Developer/src/github.com/alexsaezm/md2man-rpm"]
  path = ~/.gitconfig_upstream

[includeIf "gitdir:~/Developer/src/github.com/go-delve/"]
  path = ~/.gitconfig_upstream

[core]
	excludesFile = ~/.gitignore
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	wt = worktree add -b
[blame]
	coloring = highlightRecent
